@import './transition/*';

//
// transition default
//
@keyframes fold-in
  0%
    transform translate3d(100%, 0, 0)

  100%
    transform translate3d(0, 0, 0)

@keyframes fold-out
  0%
    transform translate3d(0, 0, 0)

  100%
    transform translate3d(100%, 0, 0)

.top-enter-active,
.top-leave-active
  transition all 0.5s

.top-enter,
.top-leave-to
  transform translateY(100%)
  opacity 0

.top-enter-to,
.top-leave
  opacity 1



.sidePopup-enter-active
  animation-name fold-in
  animation-duration 0.5s

.sidePopup-leave-active
  animation-name fold-out
  animation-duration 0.5s





@keyframes slide-left
  0%
    transform translate3d(0%, 0, 0)

  100%
    transform translate3d(-100%, 0, 0)

@keyframes slide-right
  0%
    transform translate3d(-100%, 0, 0)

  100%
    transform translate3d(0%, 0, 0)

.slide-zone
  width 200%
  display flex
  height 100%
.slide-box
  width 50%
  height 100%

.slide-left-enter-active
.slide-left-leave-active
  animation-name slide-left
  animation-duration 0.5s

.slide-right-enter-active
.slide-right-leave-active
  animation-name slide-right
  animation-duration 0.5s

.slide-right-enter-active
.slide-left-leave-active
  order 1
.slide-right-leave-active
.slide-left-enter-active
  order 2
